xml_sugupuu/reisid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Reisid">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Reisi">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Lend">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Hind" type="xs:unsignedShort" />
										<xs:element name="Valjumine">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Linn" type="xs:string" />
													<xs:element name="Aeg" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Saabumine">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Linn" type="xs:string" />
													<xs:element name="Aeg" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LennujaamaNimi" type="xs:string" />
										<xs:element name="TransportHind" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="reisi_id" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>